<div class="form-group">
  <%= form.label name.to_sym, class: "control-label col-sm-3 #{options[:mandatory] ? 'mandatory' : ''}" %>
  <div class="col-sm-9">
    <% options['valid_values'].each do |value| %>
      <div class="radio">
        <%= form.label "#{name}_#{value.downcase}" do %>
          <%= form.radio_button name.to_sym, value %>
          <%= t("helpers.label.jr_form_presenter.#{name}_option.#{value.downcase}") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>