<div class="form-group">
  <%= form.label name.to_sym, label, class: "control-label col-sm-3 #{options[:mandatory] ? 'mandatory' : ''}" %>
  <div class="col-sm-9">
    <%= form.text_area name.to_sym, class: "form-control", maxlength: options[:maxlength] %>
  </div>
</div>