<div class="alert-danger crm-form-message alert">
  <ul>
    <% flash['alert']['message'].each do |msg| %>
      <li>
        <%= t("helpers.messages.crm_form_presenter.#{msg['code']}",
          field: t("helpers.label.crm_form_presenter.#{msg['attribute']}", default: msg['attribute']),
          default: msg['message']).html_safe
        %>
      </li>
    <% end %>
  </ul>
</div>
