<div class="form-group form-field-custom-file">
  <% CrmFormPresenter.send(:attr_accessor, :custom_file) %>
  <%= form.label :custom_file, t('scrivito_crm_form_widget.view.file', default: 'File upload'), class: "control-label col-sm-3" %>
  <div class="col-sm-9">
    <%= form.file_field :custom_file, class: "form-control" %>
  </div>
</div>
