<% if widget.activity_id? %>
  <%= render 'crm_form_widget/form', widget: widget %>
<% else %>
  <div class="alert alert-warning">
    <p><strong>Select an activty</strong></p>
    <%= scrivito_tag(:div, widget, :activity_id, data: {toggle_button_list: CrmFormWidget.activity_ids, scrivito_editors_reload: true }) %>
  </div>
<% end %>