<% if widget.activity_id? %>
  <% if(flash[:alert] && ScrivitoCrmFormWidget.configuration.show_error_message && (flash[:alert]['widget_id'] == widget.id)) %>
    <%= render 'crm_form_widget/error_messages' %>
  <% end %>
  <% if flash[:notice] && ScrivitoCrmFormWidget.configuration.show_error_message %>
    <div class="alert-success crm-form-message alert">
      <%= t('helpers.messages.crm_form_presenter.success', default: 'Thank you for your message.').html_safe %>
    </div>
  <% end %>
  <%= render 'crm_form_widget/form', widget: widget %>
<% else %>
  <div class="alert alert-warning">
    <p><strong>Select an activty</strong></p>
    <%= scrivito_tag(:div, widget, :activity_id, data: {toggle_button_list: CrmFormWidget.activity_ids, scrivito_editors_reload: true }) %>
  </div>
<% end %>
