<div class="scrivito_editing_widget_visualization">
  <%= image_tag("form.png") %>
</div>

<div class="scrivito_editing_widget_title">
  Just Relate Form Widget
</div>

<div class="scrivito_editing_widget_description">
  Add a formular to your page based on an activty from just relate CRM.
</div>
